// **********************************************
// _forms.scss
// styles related to form elements
// **********************************************

//form__input
.form {
  .form__label--hidden {
    display: none;
  }
  .form__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: $primary-color solid 4px;
    margin: 1em 0;
    padding: 1em 0 1em 1em;

//    color: darker grey >> set a new color function
    &::placeholder {
      color: $darker-default-text-color;
    }
  }
}
